/* layout ----- 這個可以理解為父層樣式設定 (Ex: Navbar) */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

/* component ----- 這個可以理解為套組樣式設定 (Ex: button) */
.btn-light {
    padding: 12px 24px;
    border-radius: 32px;
    background: white;
    color: #000;
}

.btn-light:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 16px 3px #00ffa3;;
}

.btn-light:active {
    background-color: #00ffa3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 16px 3px white;
}

.btn-dark {
    padding: 12px 24px; /* (如果寫兩個的話：上下，左右）（如果寫三個的話：上，左右，下）(如果寫四個的話：上，右，下，左) */
    border-radius: 32px;
    background: #000;
    color: white;
}

.btn-dark:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 16px 3px black;
}

.btn-nav {
    padding: 12px 24px;
}

.btn-nav:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 16px 3px white;
}

.btn-nav:active {
    color: black;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 16px 3px black;
    font-weight: bold;
}

/* page ----- 這個可以理解為只有這個頁面會出現元素的樣式設定 */
.banner {
    background: #000;
    color: white;
    padding: 72px 0 32px 0;
}

.banner-title-strong {
    display: block;
    text-align: right;
    min-width: 636px;
}

.intro {
    background-image: url("/img/background-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 160px 0;
}

.intro-desc {
    width: 526px;
}

.about {
    padding: 160px 0;
}

.about-list {
    width: 636px;
    gap: 24px;
}

.about-list li {
    width: calc(50% - 12px);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}

.about-desc {
    width: 526px;
}

.contact {
    background: linear-gradient(#050014 0%, rgba(1, 2, 30, 0.89) 100%);
    padding: 96px 0px;
}

.cta {
    color: white;
    font-size: 64px;
}

.social {
    gap: 20px;
}

.social-link {
    color: white;
    font-size: 64px;
}

.social-link:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 0px 16px 3px rgba(144, 148, 255, 0.90);
    border-radius: 40px;
}

.project {
    padding: 160px 0px;
}

.project-title {
    width: 746px;
    margin-left: auto;
    padding-bottom: 16px;
}

.footer {
    padding: 40px 312px;
    color: white;
    background-color: #000;
}
